h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
}

#idfour {
    text-align: center;
    font-size: 70%
}

#idfif {
    text-align: center;
    font-size: 130%
}

#idfgh {
    text-align: center;
    font-size: 160%
}

img {
    display: block;
    margin: auto;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .col-lg-6 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

